In [ ]:
#Task-1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

In [ ]:
#Task-2
a = (-10, 20, 25, 30, 40)
a = list(a)
b = a[2:len(a)-2]
b = tuple(b)
print(b)

In [ ]:
#Task-3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is:",len(book_info))
for item in book_info:
  print(item)

In [ ]:
#Task-4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
cat1, cat2, cat3, cat4 = book_info
cat1_list = list(cat1)
cat2_list = list(cat2)
cat3_list = list(cat3)
cat4_list = list(cat4)
print(cat1_list[1],"won the","'"+cat1_list[0]+"'","category with",cat1_list[2],"votes")
print(cat2_list[1],"won the","'"+cat2_list[0]+"'","category with",cat2_list[2],"votes")
print(cat3_list[1],"won the","'"+cat3_list[0]+"'","category with",cat3_list[2],"votes")
print(cat4_list[1],"won the","'"+cat4_list[0]+"'","category with",cat4_list[2],"votes")

In [ ]:
#Task-5
given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
num = int(input("Enter a number"))
count = 0
for item in given_tuple:
  if item == num:
    count+=1
if count>0:
  print(num,"appears",count,"times in the tuple")
else:
  print(num,"appears 0 times in the tuple")

In [ ]:
#Task-6
given_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list_tuple = list(given_tuple)
list_range = len(list_tuple)-1
new_list = []
while list_range>=0:
  new_list.append(list_tuple[list_range])
  list_range-=1
new_tuple = tuple(new_list)
print(new_tuple)

In [ ]:
#Task-7
dict_1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict_2 = {'Ginie':18, 'Luna': 14}
dict_1.update(dict_2)
print(dict_1)

In [ ]:
#Task-8
num = int(input("Enter a number"))
dict1 = {}
for i in range(0,num):
  key = input("Enter a key of a dictionary")
  value = int(input("Enter a value of a dictionary"))
  dict1[key] = value
sum = 0
for item in dict1:
  sum+=dict1.get(item)
avg = int(sum/num)
print("average is",str(avg)+".")

In [ ]:
#Task-9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num = int(input("Enter a number"))
new_dict = {}
for item in exam_marks:
  if(exam_marks[item]>=num):
    new_dict[item] = exam_marks[item]
print(new_dict)

In [ ]:
#Task-10
given_dict = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = list(given_dict.values())[0]
for item in given_dict:
  if given_dict[item]>max:
    max = given_dict[item]
cat = ''
for name, age in given_dict.items():
    if age == max:
        cat = name
print("The highest selling book genre is","'"+cat+"'","and the number of books sold are",str(max)+".")

In [ ]:
#Task-11
given = "Python programming is fun"
given = given.lower()
dict1 = {}
for i in given:
  if i != " " and i not in dict1:
    dict1[i] = 0
    count = 0
    for j in given:
      if i==j:
        count+=1
    dict1[i] = count
print(dict1)

python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task-12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
list1 = []
for item in dict_1.values():
  list1.append(item)
for i in list1:
  for j in i:
    count+=1
print(count)

9

In [ ]:
#Task-13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1 = {}
a = []
b = []
c = []
for item in list_1:
  if item[0] == "a":
    a.append(item[1])
  elif item[0] == "b":
    b.append(item[1])
  elif item[0] == "c":
    c.append(item[1])
dict1["a"] = a
dict1["b"] = b
dict1["c"] = c
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}